#page-auth{
  display:flex;
  align-items: stretch;
  height: 100vh;

  aside{ 
    flex: 5;
    background: var(--primary-color);
    color: #FFF;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 120px 80px;

    img{
      max-width: 70%;
      margin: auto;
    }

    strong{
      font: 700 3.6rem 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
      color: var(--white-color);
    }
    p{
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-top: 16px;
      color: var(--white-color);
    }

  }
  main{
    flex: 6;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--background-color);
  }
  .main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    .user-info-card{
      display: flex;
      margin-top: 16px;
      margin-bottom: 16px;
      align-items: center;
      justify-content: space-between;
      .content{
        display: flex;
        align-items: center;
        
        >img{
          max-height: 60px;
          border-radius: 50%;
        }
        >span{
          margin-left: 1.6rem;
          font-size: 1.6rem;
          color: var(--title-color);

        }
      }
      >button{
        background-color: transparent;
        border: 1px solid var(--secondary-color);
        border-radius: 8px;
        padding: 8px 16px;
        color: var(--secondary-color);
        font-family: sans-serif;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.25s;
        &:hover{
          background-color: var(--secondary-color);
          color: var(--title-color);
        }
        
      }
      
    }

    >img{
      align-self: center;
    }
    h2{
      font-size: 2.4rem;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form{
      input{
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #FFF;
        border: 1px solid var(--separator-color);
      }
      button{
        margin-top: 16px;
        
      }
      button, input {
        width: 100%;
      } 
    }
    p{
      font-size: 1.4rem;
      color: var(--title-color);
      margin-top: 16px;

      a{
        color: var(--link-color);
      }
    }

  }
  .create-room{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: var(--secondary-color);
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
      margin-right: 10px;
    }

    &:hover{
      filter: brightness(0.9);

    }
  }
  .separator{
    font-size: 1.4rem;
    color: var(--separator-color);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--separator-color);
      margin-right: 16px;

    }
    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--separator-color);
      margin-left: 16px;
    }
  }
  
}


