*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}
body{
  background: var(--background-color);
  color: var(--title-color);
}

body, input, button, textarea, strong {
  font: 400 1.6rem 'Roboto', sans-serif;
}

