.question{
  background: var(--text-area-background);
  border: 1px solid var(--text-area-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

  padding: 24px;

  & + .question{
    margin-top: 8px;
  }

  &.highlighted{
    background: var(--hightlighted-color);
    border: 1px solid var(--primary-color);
    footer .user-info span{
      color: var(--text-color);
    }
  }
  &.answered{
    opacity: 0.6;
  }

  p{
    color: var(--text-color);
    font-size: 1.6rem;
    word-break: break-all;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info{
      display: flex;
      align-items: center;

      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
      } 

      span{
        margin-left: 8px;
        color: var(--title-color);
        font-size: 1.4rem;
      }
    }

    >div{
      display: flex;
      gap: 0.8rem;
    }

    button{
      border: 0;
      background: transparent;
      cursor: pointer;

      >span{
        font-size: 1.6rem;
        color: var(--button-color);
      }
      svg{
        path, circle{
          stroke: var(--button-color);
        }   
      }

      &.like-button{
        display: flex;
        align-items: flex-end;
        color: var(--button-color);

        transition: filter 0.2s;

        gap: 8px;

        &.liked{
          color: var(--primary-color);

          svg path{
            stroke: var(--primary-color);
          }
          >span{
            font-size: 1.6rem;
            color: var(--primary-color);
          }
        }

        &:hover{
          filter: brightness(0.7);
        }
      }
      &.delete-button{
        &:hover{
          svg{
            path{
              stroke: var(--exit-button-color);
              transition: stroke .2s;
            }
          }
        }
      }
      &.highlight-button{
        &:hover{
          svg{
            path{
              stroke: var(--primary-color);
              transition: stroke .2s;
            }
          }
        }
      }
      &.check-button{
        &:hover{
          svg{
            path, circle{
              stroke: var(--primary-color);
              transition: stroke .2s;
            }
          }
        }
      }
    }
  }
}