.light{
  --primary-color: #835afd;
  --secondary-color: #ea4335;
  --title-color: #737380;
  --text-color: #29292e;
  --background-color: #f8f8f8;
  --separator-color: #737380;
  --border-header: #e2e2e2;
  --link-color: #e559f9;
  --text-area-background: #fefefe;
  --white-color: #FFF;
  --hightlighted-color: #faf0ff;
  --button-color: #737380;
  --question-list:#D67EE2; 
  --logo-gradient-down: #FF59F8;
  --logo-gradient-up: #485BFF;
  --exit-button-color: #ea4335;
  --exit-button-text: #ea4335; 
  
}
.dark{
  --primary-color: #171717;
  --secondary-color: #DA0037;
  --title-color: #e2e2e2;
  --text-color: #ffffff;
  --background-color: #444444;
  --separator-color: #e2e2e2;
  --border-header: #e2e2e2;
  --link-color: #DA0037;
  --text-area-background: #797979;
  --white-color: #FFF;
  --hightlighted-color: #484848;
  --button-color: #FFF;
  --question-list:#ec3563; 
  --logo-gradient-down: #DA0037;
  --logo-gradient-up: #DA0037;
  --exit-button-color: #DA0037;
  --exit-button-text: #ffffff; 
}